:root {
    --primary-soft-orange: hsl(35, 77%, 62%);
    --primary-soft-red: hsl(5, 85%, 63%);
    --font-off-white: hsl(36, 100%, 99%);
    --font-grayish-blue: hsl(233, 8%, 79%);
    --font-dark-grayish-blue: hsl(236, 13%, 42%);
    --title-very-dark-blue: hsl(240, 100%, 5%);
    --font-text: 'Inter', sans-serif; /* 400, 700, 800 */ 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: var(--font-text);
}
body {
    font-size: 1.5rem;
}

header {
    width: 100%;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 5%;
}
.header-container .logo-img {
    width: 36px;
}
.header-container .logo-burger {
    width: 32px;
}
.header-container nav {
    display: none;
}

main {
    width: 100%;
    min-width: 320px;
}
.main-intro {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    gap: 16px;
    width: 90%;
    min-width: 288px;
    margin: 0 auto;
    padding: 20px 0;
}
.main-intro .web-3-img {
    width: 100%;
}
.main-intro h1 {
    margin: 0;
    font-size: 3.2rem;
    font-weight: 800;
    color: var(--title-very-dark-blue);
}
.main-intro__container p {
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-bottom: 20px;
    color: var(--font-dark-grayish-blue);
}
.main-intro__container button {
    width: 150px;
    height: 40px;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--font-off-white);
    background-color: var(--primary-soft-red);
    border: none;
}

.main-news {
    width: 90%;
    min-width: 288px;
    max-width: 380px;
    height: auto;
    margin: 36px auto;
    padding: 20px 0;
    background-color: var(--title-very-dark-blue);
}
.main-news__container {
    width: 100%;
    padding: 0 24px;
}
.main-news__container hr {
    margin: 32px 0;
    border: 1px solid var(--font-grayish-blue);
    opacity: 40%;
}
.main-news__container h2 {
    font-size: 2.6rem;
    margin-bottom: 26px;
    color: var(--primary-soft-orange);
}
.main-news__container h3 {
    font-size: 1.7rem;
    margin-bottom: 12px;
    color: var(--font-off-white);
}
.main-news__container p {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2.2rem;
    color: var(--font-grayish-blue);
}

.main-top-news {
    width: 90%;
    height: auto;
    min-width: 288px;
    max-width: 320px;
    margin: 0 auto;
    padding: 20px 0;
}
.item-new {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 18px;
    row-gap: 4px;
    width: 100%;
    margin: 30px 0;
}
.item-new img {
    align-self: center;
    grid-area: 1 / 1 / 4 / 2;
    width: 100%;
}
.item-new h2 {
    font-size: 2.6rem;
    font-weight: 700;
    color: var(--font-grayish-blue);
}
.item-new h3 {
    font-size: 1.7rem;
    font-weight: 800;
    color: var(--title-very-dark-blue);
}
.item-new p {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2.2rem;
    color: var(--font-dark-grayish-blue);
}